body{
    font-family: 'DotGothic16', sans-serif;
}
.sword{
    border:1px dotted black;
    border-radius:10px;
    padding:15px;
    font-size:1.33em;
    letter-spacing: .5px;
    line-height: .5em;
}
.sword h3{
    font-family: 'Grenze Gotisch', cursive;
    font-size:2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

li {
    list-style:none;
}