html {
    height: 100%;
  }  

body {
    font-family: 'DotGothic16', sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #202020, #111119);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Grenze Gotisch', cursive;
    color:lightgray;
    font-size:5em; 
    margin-top:100px;
}

a {
 text-decoration: none;
 color:lightgray;
}

content {
    font-size:2em;
    font-family: DotGothic16, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .admin{
    position: relative;
    flex-direction: column;
    justify-content:stretch;
    align-items:center;
    z-index:2;
	font-family: "DotGothic16", sans-serif;
    font-size:.5em;
    overflow-wrap: break-word;
	background-color: white;
	border-radius:10px;
	border:dotted 1px black;
	height: 500px;
	width:500px;
	box-shadow: -10px 10px 0px 1px #848484;
}

h2{
    font-family: 'Grenze Gotisch', cursive;
    font-size: 3em;
    margin:20px;    
}

input{
    border:dotted 1px black;
    font-family: "DotGothic16", sans-serif;
}

label{
    display: grid;
    grid-template-columns: .75fr 1fr;
    margin:15px;
}

button {
	font-family: "DotGothic16", sans-serif;
	background-color: white;
	border: 1px dotted black;
	font-size: 1em;
	cursor: pointer;
	box-shadow: -5px 5px 0px 1px #848484;
	position: relative;
	z-index: 2;
    margin-top:20px;
}

button:hover {
	background-color: silver;
	color: white;
}

button:active {
	font-family: "DotGothic16", sans-serif;
	background-color: #4a4140;
	color: white;
	border: 1px dotted black;
	font-size: 1em;
	cursor: pointer;
	box-shadow: 5px 5px 0px 1px #848484;
}