
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: flex-end;

}

footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;

}
  
