html {
    height: 100%;
  }  

body {
    font-family: 'DotGothic16', sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #202020, #111119);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Grenze Gotisch', cursive;
    color:lightgray;
    font-size:5em; 
    margin-top:100px;
}

a {
 text-decoration: none;
 color:lightgray;
}

content {
    font-size:2em;
    font-family: DotGothic16, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

